[package]
name = "spire-api"
version = "0.4.0"
edition = "2021"
rust-version = "1.83"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
description = "Rust library for the SPIRE APIs"
license = "Apache-2.0"
repository = "https://github.com/maxlambrecht/rust-spiffe"
documentation = "https://docs.rs/spire-api"
readme = "README.md"
categories = ["cryptography"]
keywords = ["SPIFFE", "SPIRE"]

[dependencies]
spiffe = { version = "0.8", features = ["grpc"] }
tonic = { version = "0.14.0", default-features = false, features = ["transport"]}
prost = { version = "0.14.0" }
tonic-prost = "0.14"
tokio = { "version" = "1", features = ["net"]}
tokio-stream = "0.1"

[dev-dependencies]
once_cell = "1"

[features]
integration-tests = []
