[package]
name = "spire-api"
# When releasing to crates.io:
# - Update CHANGELOG.md.
# - Create a new tag
version = "0.3.6"
edition = "2024"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
description = "Rust library for the SPIRE APIs"
license = "Apache-2.0"
repository = "https://github.com/maxlambrecht/rust-spiffe"
documentation = "https://docs.rs/spire-api"
readme = "README.md"
categories = ["cryptography"]
keywords = ["SPIFFE", "SPIRE"]

[dependencies]
spiffe = { version = "0.6.7", path = "../spiffe", default-features = false, features = ["spiffe-types"] }
bytes = { version = "1", features = ["serde"] }
tonic = { version = "0.14.0", default-features = false, features = ["codegen", "transport"]}
prost = { version = "0.14.0" }
tonic-prost = "0.14"
tokio = { "version" = "1", features = ["net"]}
tokio-stream = "0.1"
tower = { version = "0.5", features = ["util"] }
hyper-util = { version = "0.1.8", default-features = false }

[dev-dependencies]
tokio = { version = "1", features = ["macros"] }
once_cell = "1"

[build-dependencies]
tonic-prost-build = "0.14"
prost-build = "0.14.1"
protox = "0.9.0"
anyhow = "1"

[features]
integration-tests = []
