[package]
name = "spire-api"
version = "0.3.8"
edition = "2021"
rust-version = "1.83"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
description = "Rust library for the SPIRE APIs"
license = "Apache-2.0"
repository = "https://github.com/maxlambrecht/rust-spiffe"
documentation = "https://docs.rs/spire-api"
readme = "README.md"
categories = ["cryptography"]
keywords = ["SPIFFE", "SPIRE"]

[dependencies]
spiffe = { version = "0.7", path = "../spiffe" }
tonic = { version = "0.14.0", default-features = false, features = ["codegen", "transport"]}
prost = { version = "0.14.0" }
tonic-prost = "0.14"
tokio = { "version" = "1", features = ["net"]}
tokio-stream = "0.1"
tower = { version = "0.5", features = ["util"] }
hyper-util = { version = "0.1.8", default-features = false }

[dev-dependencies]
tokio = { version = "1", features = ["macros"] }
once_cell = "1"

[features]
integration-tests = []
