[package]
name = "spiffe"
# When releasing to crates.io:
# - Update CHANGELOG.md.
# - Create a new tag
version = "0.6.2"
edition = "2021"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
description = "Rust client library implementation for SPIFFE"
license = "Apache-2.0"
repository = "https://github.com/maxlambrecht/rust-spiffe"
documentation = "https://docs.rs/spiffe"
readme = "README.md"
categories = ["cryptography"]
keywords = ["SPIFFE", "X509", "JWT"]

[dependencies]
# spiffe-types dependencies:
thiserror = "2"
url = "2"
asn1 = { package = "simple_asn1", version = "0.6" }
x509-parser = "0.16"
pkcs8 = "0.10"
jsonwebtoken = "9"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
zeroize = { version = "1", features = ["zeroize_derive"] }
time = "0.3"
tonic = "0.12.3"

# workload-api dependencies:
prost = { version = "0.13", optional = true }
prost-types = { version = "0.13", optional = true }
tokio = { version = "1", features = ["net"], optional = true }
tokio-stream = { version = "0.1", optional = true }
tower = { version = "0.5", features = ["util"], optional = true }
tokio-util = {version = "0.7", optional = true }
log = {version = "0.4", optional = true }
hyper-util = { version = "0.1.8", default-features = false }

[dev-dependencies]
jsonwebkey = { version = "0.3", features = ["generate", "jwt-convert"] }
tokio = { version = "1", features = ["macros"] }
once_cell = "1"

# used to verify in tests that the certificates bytes from the X.509 SVIDs and bundle authorities
# are parseable as OpenSSL X.509 certificates.
openssl = { version = "0.10", features = ["vendored"] }

[build-dependencies]
tonic-build = { version = "0.12.3", default-features = false, features = ["prost"] }
prost-build = "0.13"
anyhow = "1"

[features]
default = ["spiffe-types", "workload-api"]
spiffe-types = []
workload-api = ["prost", "prost-types", "tokio", "tokio-stream", "tower", "tokio-util", "log"]
integration-tests = []
