[package]
edition = "2018"
name = "spiffe"
# When releasing to crates.io:
# - Update CHANGELOG.md.
# - Create a new tag
version = "0.1.2"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
description = "Rust client library implementation for SPIFFE"
license = "Apache-2.0"
repository = "https://github.com/maxlambrecht/rust-spiffe"
documentation = "https://docs.rs/spiffe"
readme = "README.md"
categories = ["cryptography"]
keywords = ["SPIFFE", "X509", "JWT"]

[dependencies]
protobuf = "2.24.1"
futures = "0.3.15"
thiserror = "1.0.25"
url = "2.2.2"
asn1 = { package = "simple_asn1", version = "0.5.3" }
x509-parser = "0.9.2"
pkcs8 = "0.7.0"
jsonwebtoken = "7.2.0"
jsonwebkey = { version = "0.3.2", features = ["jsonwebtoken", "jwt-convert"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
chrono = { version = "0.4.19", features = ["serde"] }
zeroize = { version = "1.3.0", features = ["zeroize_derive"] }

[target.'cfg(target_os = "linux")'.dependencies]
grpcio = { version = "0.9", default-features = false, features = ["protobuf-codec"] }

[target.'cfg(target_os = "macos")'.dependencies]
grpcio = { version = "0.9", default-features = false, features = ["protobuf-codec", "use-bindgen"] }


[dev-dependencies]
jsonwebkey = { version = "0.3.2", features = ["generate"] }

# used to verify in tests that the certificates bytes from the X.509 SVIDs and bundle authorities
# are parseable as OpenSSL X.509 certificates.
openssl = { version = "0.10.35", features = ["vendored"] }
