[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
rust-version = "1.88"
license = "Apache-2.0"
publish = false

[lints]
workspace = true

[dependencies]
anyhow = "1"
protox = "0.9.0"
prost-build = "0.14"
tonic-prost-build = "0.14"
