name: Continuous Integration

on: [push, pull_request]

jobs:
  format:
    name: Execute rustfmt and clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup protoc
        uses: arata-nvm/setup-protoc@v1

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Execute rustfmt
        run: cargo +nightly fmt

      - name: Execute clippy
        run: cargo +nightly clippy

  test:
    name: Execute the test script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Run the script
        run: ./ci.sh
