name: Continuous Integration

on: [push, pull_request]

jobs:
  lint-and-setup:
    name: Setup and Lint Rust Code
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies and common setup
        uses: ./.github/actions/setup-env
      - name: Lint Rust code with rustfmt and clippy
        run: |
          cargo +nightly fmt
          cargo +nightly clippy

  build:
    name: Build Rust Project
    runs-on: ubuntu-latest
    needs: lint-and-setup
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies and common setup
        uses: ./.github/actions/setup-env
      - name: Build Rust project
        run: cargo build

  test:
    name: Run spiffe and spire-api Integration Tests
    runs-on: ubuntu-latest
    env:
      SPIFFE_ENDPOINT_SOCKET: unix:/tmp/spire-agent/public/api.sock
      SPIFFE_ADMIN_ENDPOINT_SOCKET: unix:/tmp/spire-agent/admin/api.sock
    needs: build
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies and common setup
        uses: ./.github/actions/setup-env

      - name: Start SPIRE
        run: ./scripts/run-spire.sh &

      - name: Execute spiffe Integration Tests
        run: RUST_BACKTRACE=1 cargo test --features integration-tests
        working-directory: spiffe

      - name: Execute spire-api Integration Tests
        run: RUST_BACKTRACE=1 cargo test --features integration-tests
        working-directory: spire-api

      - name: Clean up SPIRE
        run: ./scripts/cleanup-spire.sh
