name: Build

on: [push, pull_request]

jobs:
  setup-and-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: recursive
      - name: Cache Project
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # v2.8.1
      - name: Install toolchain
        uses: ./.github/actions/setup-env
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint code with rustfmt and clippy
        run: |
          cargo +nightly fmt -- --check
          cargo clippy -- -D warnings

  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: setup-and-lint
    env:
      SPIFFE_ENDPOINT_SOCKET: unix:/tmp/spire-agent/public/api.sock
      SPIRE_ADMIN_ENDPOINT_SOCKET: unix:/tmp/spire-agent/admin/api.sock
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: recursive
      - name: Cache Project
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # v2.8.1
      - name: Install toolchain
        uses: ./.github/actions/setup-env
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Rust project
        run: cargo build

      - name: Start SPIRE
        run: .github/workflows/scripts/run-spire.sh

      - name: Run Integration Tests
        run: RUST_BACKTRACE=1 cargo test --features integration-tests

      - name: Clean up SPIRE
        run: .github/workflows/scripts/cleanup-spire.sh
