name: Coverage

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  coverage:
    name: Run tests and generate coverage report
    runs-on: ubuntu-latest

    env:
      SPIFFE_ENDPOINT_SOCKET: "unix:/tmp/spire-agent/public/api.sock"
      SPIFFE_ENDPOINT_SOCKET_FEDERATED: "unix:/tmp/spire-agent-federated/public/api.sock"
      SPIRE_ADMIN_ENDPOINT_SOCKET: "unix:/tmp/spire-agent/admin/api.sock"

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      - name: Install toolchain
        uses: ./.github/actions/setup-env
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache project
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install LLVM tools
        run: rustup component add llvm-tools-preview

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov --locked

      - name: Start SPIRE
        run: .github/workflows/scripts/run-spire.sh

      - name: Run tests (full)
        run: make full

      # Generate coverage using cargo llvm-cov
      - name: Generate LCOV coverage report
        run: |
          cargo llvm-cov clean --workspace

          cargo llvm-cov \
            --workspace \
            --lcov \
            --output-path lcov.info \
            --ignore-filename-regex 'proto/|pb/|spire-api-sdk/|build\.rs|spiffe-rustls-grpc-examples/src/|xtask/src/' \
            test --workspace

          .github/workflows/scripts/filter-lcov.sh lcov.info

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: ./lcov.info

      - name: Clean up SPIRE
        if: always()
        run: .github/workflows/scripts/cleanup-spire.sh
