name: Publish Crates

on:
  push:
    tags:
      - '*'
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: recursive
      - name: Cache Project
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # v2.8.1
      - name: Install toolchain
        uses: ./.github/actions/setup-env
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cargo Login
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}

      # Conditional step for spiffe crate
      - name: Publish spiffe
        if: startsWith(github.ref, 'refs/tags/spiffe-')
        run: |
          cd spiffe
          cargo publish
      # Conditional step for spire-api crate
      - name: Publish spire-api
        if: startsWith(github.ref, 'refs/tags/spire-api-')
        run: |
          cd spire-api
          cargo publish
